%%writefile 20190402_python101_note.md

## 0402 note

###

1. ok
2. ok

In [4]:
a = 5
b = '6'
c = 5.5
d = True

In [5]:
type(a)

int

In [6]:
print (type(a), type(b), type(c), type(d))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## if elif else statement

In [7]:
a = 5
b = 8

In [10]:
if a > 8 :
    print ('a greater than 4')
elif a < 8 :
    print ('work')
else :
    print ('do nothing')

work

In [11]:
a > 8

False

In [12]:
a < 8

True

In [14]:
if a :
    print (a)
elif b :
    print (b)
elif c :
    print (c)
else :
    print (d)

5

In [15]:
bool(g)

NameError: name 'g' is not defined

In [18]:
g = ''

In [19]:
bool (g)

False

In [20]:
g = 1

In [21]:
bool(g)

True

In [22]:
z = '0'

In [23]:
bool(z)

True

In [24]:
if 0 :
    print ('0')
else :
    print ('of course')

of course

## list

In [26]:
my_list = ['a', 'star', 6, 5.5, True]

In [27]:
type(my_list)

list

In [28]:
my_list

['a', 'star', 6, 5.5, True]

In [29]:
my_list_2 = ['a', ['b', 'c', 7], True, 7]

In [30]:
type(my_list_2)

list

In [31]:
my_list_2

['a', ['b', 'c', 7], True, 7]

In [32]:
my_questions = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5']

In [33]:
my_questions[0]

'Q1'

In [34]:
my_questions[2]

'Q3'

In [35]:
my_questions[5]

IndexError: list index out of range

In [36]:
my_questions[0:3]

['Q1', 'Q2', 'Q3']

In [37]:
my_questions[:]

['Q1', 'Q2', 'Q3', 'Q4', 'Q5']

In [38]:
my_questions[::2]

['Q1', 'Q3', 'Q5']

In [39]:
my_questions[::3]

['Q1', 'Q4']

In [40]:
len (my_questions)

5

In [41]:
my_questions.append('Q6')

In [42]:
my_questions

['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6']

In [43]:
my_questions.remove('Q6')

In [44]:
my_questions

['Q1', 'Q2', 'Q3', 'Q4', 'Q5']

In [45]:
my_questions.insert(0, 'string')

In [46]:
my_questions

['string', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5']

In [47]:
my_questions[::-1]

['Q5', 'Q4', 'Q3', 'Q2', 'Q1', 'string']

In [48]:
my_questions[::-2]

['Q5', 'Q3', 'Q1']

In [49]:
tt = [1, 2, 3, 4, 5]

In [51]:
tt[::-1]

[5, 4, 3, 2, 1]

In [52]:
tt.reverse()

In [53]:
tt

[5, 4, 3, 2, 1]

In [54]:
tt.sort()

In [55]:
tt

[1, 2, 3, 4, 5]

In [57]:
aa = ['a', 'z', 'd', 's']

In [58]:
aa

['a', 'z', 'd', 's']

In [59]:
aa.sort()

In [60]:
aa

['a', 'd', 's', 'z']

### for loop

In [63]:
range(0, 10)

range(0, 10)

In [68]:
for i in tt :
    print(i)

1
2
3
4
5

In [69]:
for _ in my_questions :
    print (_)

string
Q1
Q2
Q3
Q4
Q5

In [70]:
for _ in my_questions :
    print(_.lower())

string
q1
q2
q3
q4
q5

In [71]:
for _ in my_questions :
    print (_.upper())

STRING
Q1
Q2
Q3
Q4
Q5

In [72]:
for _ in my_questions :
    print (_.capitalize())

String
Q1
Q2
Q3
Q4
Q5

In [73]:
a = 'aaatttcgtgcaatgcccg'

In [74]:
a.capitalize()

'Aaatttcgtgcaatgcccg'

In [75]:
a.upper()

'AAATTTCGTGCAATGCCCG'

In [76]:
a = [3, 6, -1, 7, -4, 100]

In [92]:
for _ in a :
    if (_ + 5) *3 > 10 :
        print(_)

3
6
-1
7
100

In [94]:
for _ in (a) :
    temp = _ +5
    temp =temp*3
    if temp>10:
        print(_)

3
6
-1
7
100

In [103]:
import os

In [104]:
os.listdir()

['demo3.ipynb',
 '.DS_Store',
 'project1.ipynb',
 'python101_0326.md',
 'demo.ipynb',
 'demo3.py',
 'note.ipynb',
 'demo2.ipynb',
 'demo4.ipynb',
 'untitled.txt',
 'python_code.py',
 'index.md',
 '_config.yml',
 '_DSC0287.JPG',
 'test.txt',
 '.ipynb_checkpoints',
 '.git']

In [105]:
for _ in os.listdir():
    if _.endswith('ipynb'):
        lenght = len(_)
        print (_, lenght)

demo3.ipynb 11
project1.ipynb 14
demo.ipynb 10
note.ipynb 10
demo2.ipynb 11
demo4.ipynb 11